include /mixins/basic-element
extends templates/master

block body
  table
    caption The Periodic Table of Elements
    tbody
      tr
        +basic-element('Hydrogen')
        td(aria-hidden="true" colspan=16)
        +basic-element('Helium')
      tr
        +basic-element('Lithium')
        +basic-element('Beryllium')
        td(aria-hidden="true" colspan=10)
        +basic-element('Boron')
        +basic-element('Carbon')
        +basic-element('Nitrogen')
        +basic-element('Oxygen')
        +basic-element('Fluorine')
        +basic-element('Neon')
      tr
        +basic-element('Sodium')
        +basic-element('Magnesium')
        td(aria-hidden="true" colspan=10)
        +basic-element('Aluminium')
        +basic-element('Silicon')
        +basic-element('Phosphorus')
        +basic-element('Sulfur')
        +basic-element('Chlorine')
        +basic-element('Argon')
      tr
        +basic-element('Potassium')
        +basic-element('Calcium')
        +basic-element('Scandium')
        +basic-element('Titanium')
        +basic-element('Vanadium')
        +basic-element('Chromium')
        +basic-element('Manganese')
        +basic-element('Iron')
        +basic-element('Cobalt')
        +basic-element('Nickel')
        +basic-element('Copper')
        +basic-element('Zinc')
        +basic-element('Gallium')
        +basic-element('Germanium')
        +basic-element('Arsenic')
        +basic-element('Selenium')
        +basic-element('Bromine')
        +basic-element('Krypton')
      tr
        +basic-element('Rubidium')
        +basic-element('Strontium')
        +basic-element('Yttrium')
        +basic-element('Zirconium')
        +basic-element('Niobium')
        +basic-element('Molybdenum')
        +basic-element('Technetium')
        +basic-element('Ruthenium')
        +basic-element('Rhodium')
        +basic-element('Palladium')
        +basic-element('Silver')
        +basic-element('Cadmium')
        +basic-element('Indium')
        +basic-element('Tin')
        +basic-element('Antimony')
        +basic-element('Tellurium')
        +basic-element('Iodine')
        +basic-element('Xenon')
      tr
        +basic-element('Cesium')
        +basic-element('Barium')
        td(aria-hidden="true")
        +basic-element('Hafnium')
        +basic-element('Tantalum')
        +basic-element('Tungsten')
        +basic-element('Rhenium')
        +basic-element('Osmium')
        +basic-element('Iridium')
        +basic-element('Platinum')
        +basic-element('Gold')
        +basic-element('Mercury')
        +basic-element('Thallium')
        +basic-element('Lead')
        +basic-element('Bismuth')
        +basic-element('Polonium')
        +basic-element('Astatine')
        +basic-element('Radon')
      tr
        +basic-element('Francium')
        +basic-element('Radium')
        td(aria-hidden="true")
        +basic-element('Rutherfordium')
        +basic-element('Dubnium')
        +basic-element('Seaborgium')
        +basic-element('Bohrium')
        +basic-element('Hassium')
        +basic-element('Meitnerium')
        +basic-element('Darmstadtium')
        +basic-element('Roentgenium')
        +basic-element('Copernicium')
        +basic-element('Nihonium')
        +basic-element('Flerovium')
        +basic-element('Moscovium')
        +basic-element('Livermorium')
        +basic-element('Tennessine')
        +basic-element('Oganesson')
      tr
        td(aria-hidden="true" colspan=2)
        +basic-element('Lanthanum')
        +basic-element('Cerium')
        +basic-element('Praseodymium')
        +basic-element('Neodymium')
        +basic-element('Promethium')
        +basic-element('Samarium')
        +basic-element('Europium')
        +basic-element('Gadolinium')
        +basic-element('Terbium')
        +basic-element('Dysprosium')
        +basic-element('Holmium')
        +basic-element('Erbium')
        +basic-element('Thulium')
        +basic-element('Ytterbium')
        +basic-element('Lutetium')
        td(aria-hidden="true")
      tr
        td(aria-hidden="true" colspan=2)
        +basic-element('Actinium')
        +basic-element('Thorium')
        +basic-element('Protactinium')
        +basic-element('Uranium')
        +basic-element('Neptunium')
        +basic-element('Plutonium')
        +basic-element('Americium')
        +basic-element('Curium')
        +basic-element('Berkelium')
        +basic-element('Californium')
        +basic-element('Einsteinium')
        +basic-element('Fermium')
        +basic-element('Mendelevium')
        +basic-element('Nobelium')
        +basic-element('Lawrencium')
        td(aria-hidden="true")

block scripts